CompileFlags:
  Add:
    - -ID:\ARM\ARMCLANG/include
    - -ID:\ARM\ARMCLANG/include/libcxx
  Remove: []
  CompilationDatabase: ./build/2026OmniChassis_A_board
  Compiler: D:\ARM\ARMCLANG\bin\armclang.exe
